DATABASE_URL="postgresql://neondb_owner:SEU_TOKEN@ep-late-boat-ann3otuu-pooler.c-6.us-east-1.aws.neon.tech/biblioteca_db?sslmode=require&channel_binding=require"
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:SEU_TOKEN@ep-late-boat-ann3otuu.c-6.us-east-1.aws.neon.tech/biblioteca_db?sslmode=require&channel_binding=require"
JWT_SECRET="troque-esta-chave-por-uma-chave-forte"
JWT_EXPIRES_IN="1d"
PORT=3000
NODE_ENV=development